@import url(https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap);
* {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box; }

.wrapper {
  margin: 0 auto;
  box-sizing: border-box; }
  @media (min-width: 1120px) {
    .wrapper {
      width: 1120px; } }

body {
  min-width: 320px; }

.header__top-contacts {
  background-color: #F5F3F3; }

.header__top-contacts-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px; }
  @media (min-width: 768px) {
    .header__top-contacts-wrapper {
      justify-content: space-between;
      align-items: center; } }
  @media (min-width: 1120px) {
    .header__top-contacts-wrapper {
      justify-content: flex-end; } }

.header__socials {
  display: flex; }

.socials__item {
  width: 37px;
  height: 37px;
  background-color: #103D7B;
  color: #ffffff;
  margin: 0 10px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat; }

.socials__item--vk {
  background-image: url(./static/icon-vk.svg); }

.socials__item--ok {
  background-image: url(./static/icon-ok.svg); }

.socials__item--insta {
  background-image: url(./static/icon-insta.svg); }

.work-info {
  display: none; }
  @media (min-width: 768px) {
    .work-info {
      display: flex;
      list-style: none; } }

.work-info__item {
  margin: 0 10px;
  padding-left: 25px;
  position: relative; }

.work-info__item:before {
  content: "";
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  background-repeat: no-repeat; }

.work-info__item--shedule:before {
  background-image: url(./static/icon-clock.svg); }

.work-info__item--location:before {
  background-image: url(./static/icon-map.svg); }

.header__main-contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px; }
  @media (min-width: 768px) {
    .header__main-contacts-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; } }
  @media (min-width: 1120px) {
    .header__main-contacts-wrapper {
      justify-content: space-between;
      padding-top: 0;
      margin-top: -57px; } }

.header__company-info {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .header__company-info {
      margin-left: 20px;
      text-align: left; } }

.company-info {
  text-align: center;
  font-size: 18px; }

.company-info__title {
  font-size: 20px; }

.company-info__list {
  list-style: none; }
  @media (min-width: 768px) {
    .company-info__list {
      text-align: left; } }

.header__phones {
  list-style: none;
  padding: 15px 0 15px 40px;
  margin-top: 30px;
  position: relative;
  font-size: 18px; }
  @media (min-width: 768px) {
    .header__phones {
      width: 50%; } }
  @media (min-width: 1120px) {
    .header__phones {
      width: auto; } }

.header__phone {
  margin: 5px 0; }
  @media (min-width: 768px) {
    .header__phone {
      width: 50%; } }
  @media (min-width: 1120px) {
    .header__phone {
      width: auto; } }

.header__phone-link {
  color: #000000;
  text-decoration: none; }

.header__phones:before {
  display: block;
  content: "";
  width: 31px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -35px;
  background-image: url(./static/icon-phone.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.header__address {
  padding: 15px 0 15px 40px;
  margin-top: 30px;
  position: relative;
  font-size: 18px;
  width: 250px; }

.header__address:before {
  display: block;
  content: "";
  width: 31px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -35px;
  background-image: url(./static/icon-map.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.main {
  padding: 20px 20px 60px 20px; }

.main__title {
  font-size: 36px;
  text-align: center; }

.main__text {
  font-size: 18px;
  text-align: justify;
  margin-top: 20px;
  width: 100%; }

.footer {
  background-color: #103D7B;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column; }
  @media (min-width: 1120px) {
    .footer {
      position: fixed;
      bottom: 0;
      box-sizing: border-box;
      flex-direction: row;
      width: 100%;
      justify-content: center; } }

.footer__name {
  margin-left: 20px; }


/*# sourceMappingURL=style.css.map*/